# some more ls aliases
alias ll='eza -alF --icons'
alias la='eza -A --icons'
alias l='eza -CF --icons'
alias cd..="cd .."
alias df="df -Tha --total"
alias du="du -ach | sort -h"
alias free="free -mt"
alias ps="ps auxf"
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias mkdir="mkdir -pv"
alias wget="wget -c"
alias cat="bat"
alias myip="curl http://ipecho.net/plain; echo"
# OS-specific aliases
if [[ "$OSTYPE" == "darwin"* ]]; then
    alias open='open .'
    alias install='brew install'
    alias explore='open .'
    alias suexplore='sudo open .'
else
    alias explore='nautilus .'
    alias suexplore='sudo nautilus .'
    alias agi='sudo apt-get install'
    alias agr='sudo apt-get remove'
    alias agu='sudo apt-get update'
fi

alias ..='cd ..'
alias svim='sudo vim'
alias tgz='tar -zxvf'
alias tbz='tar -jxvf'
alias greps='grep -rn . -e '
alias ack="ack-grep --ignore-file=ext:log --pager='less -RX'"
alias gti='git'
alias bss="bin/spring"
alias gg='git grep'
alias recent-note='code ~/Dropbox/Documents/GR/Notes/$(date +%Y-%W).notes.txt'