# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias cd..="cd .."
alias df="df -Tha --total"
alias du="du -ach | sort -h"
alias free="free -mt"
alias ps="ps auxf"
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias mkdir="mkdir -pv"
alias wget="wget -c"
alias histg="history | grep"
alias myip="curl http://ipecho.net/plain; echo"
alias explore='nautilus .'
alias suexplore='sudo nautilus .'
alias ..='cd ..'
alias svim='sudo vim'
alias tgz='tar -zxvf'
alias tbz='tar -jxvf'
alias agi='sudo apt-get install'
alias agr='sudo apt-get remove'
alias agu='sudo apt-get update'
alias greps='grep -rn . -e '
alias ack="ack-grep --ignore-file=ext:log --pager='less -RX'"
alias gti='git'
alias bss="bin/spring"
alias recent-note='subl ~/Dropbox/Documents/GR/Notes/$(date +%Y-%B)-Week-$((($(date +%-d)-1)/7+1)).notes.txt'


#GR project aliases
alias jarvis='cd ${GR_HOME}/jarvis'
alias banyan='cd ${GR_HOME}/banyan'
alias tp='cd ${GR_HOME}/tp'
alias tim='cd ${GR_HOME}/tim'
alias bain='cd ${GR_HOME}/bain'
alias black='cd ${GR_HOME}/black'
alias eng='cd ${GR_HOME}/engineering'
alias frick='cd ${GR_HOME}/frick'
alias honesty='cd ${GR_HOME}/honesty'
alias metal='cd ${GR_HOME}/metal'
alias monger='cd ${GR_HOME}/monger-cordova'
alias puppet='cd ${GR_HOME}/puppet'
alias rogers='cd ${GR_HOME}/rogers'
alias stone='cd ${GR_HOME}/stone'
alias warehouse='cd ${GR_HOME}/warehouse'
alias twinkleshine='cd ${GR_HOME}/twinkleshine'
alias looker='cd ${GR_HOME}/looker-richard_garcia'
