[user]
    name = Richard Garcia
    email = richard.garcia@grandrounds.com
[color]
    ui = true
[push]
    default = simple
[pull]
    default = simple
[alias]
  cp = cherry-pick
  cl = clone
  dc = diff --cached
  co = checkout
  br = branch
  ci = commit
  st = status
  last = log -1 HEAD
  visual = !gitk
  ec = config --global -e
  cob = checkout -b
  cm = !git add -A && git commit -m
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  wip = commit -am "WIP"
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  le = log --oneline --decorate
  filelog = log -u
  fl = log -u
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  grep = grep -Ii
  gr = grep -Ii
  f = "!git ls-files | grep -i"
  la = "!git config -l | grep alias | cut -c 7-"
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  sl = stash list
  sa = stash apply
  ss = stash save
  sc = stash clear
